 
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

 
header {
    background-color: #a02c32;  
    color: #fff;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
}
.header-content {
    display: flex;
    flex-direction: column;   
    align-items: flex-start;   
    justify-content: center; 
}
header h1 {
    font-size: 36px;  
    margin-bottom: 20px;   
    text-align: left;  

}
header .header-content h1 {
    font-size: 3vw; /* Usar vw (ancho de la ventana) para el tamaño de fuente */
    margin-bottom: 20px;
    text-align: left;
}
 
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    margin-bottom: 10px; /* Agregamos espacio entre los elementos */
    padding-right: 55px;
}

nav a {
    font-size: 20px; /* Aumentamos el tamaño del texto de los enlaces */
    text-decoration: none;
    color: #333; /* Cambiamos el color de los enlaces */
}

nav a:hover {
    color: #e4b1ab; /* Cambiamos el color al pasar el ratón */
}

.logo img {
     
    margin-right: 15px;   
    max-width: 50%;
    height: auto;
    min-width: 150px;
}

h1 {
    font-size: 24px;
}
.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-right: 20px;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}
nav ul li a:hover::after {
    content: ""; 
    display: block;
    height: 3px; 
    background-color: #e4b1ab; 
}
nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;   
    text-decoration: none;
    font-weight: bold;
}
 
main {
    padding: 20px;
}
.flex-container {
    display: flex; /* Utilizamos flexbox para alinear en una fila */
    flex-wrap: wrap; /* Permitimos que los elementos se envuelvan si no caben en una sola línea */
    justify-content: space-between; /* Distribuimos el espacio entre las secciones */
    margin-top: 15px;
}


.current-events {
    flex: 2;  
    background-color: #fbefee;
    margin-right: 10px;
    padding-left: 20px;
    font-size: 1.2rem; 
}
.current-events h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #333; /* Agregamos una línea debajo del título */
    width: 95%; /* Ajustamos el ancho de la línea al 80% del contenedor */
    padding-bottom: 5px; /* Espacio entre la línea y el texto */
}
.weather-card {
    flex: 1;  
    background-color: #fbefee;
    padding-left: 20px; 
    font-size: 1.2rem; 
}
.weather-card h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #333; /* Agregamos una línea debajo del título */
    width: 95%; /* Ajustamos el ancho de la línea al 80% del contenedor */
    padding-bottom: 5px;  
}
.temperature-icon {
    max-width: 50px;  
    max-height: 50px;  
    vertical-align: middle;  
    margin-left: 10px;   
}
.hero {
    position: relative; /* Establecer posición relativa */
    max-width: 100%; /* Establecemos un ancho máximo para la sección */
    margin: 0 auto; /* Centramos la sección horizontalmente */
    overflow: hidden;
}
.hero img {
    width: 100%;
    height: auto; 
}
.cta {
    position: absolute;  
    top: 25%; /* Ajustar la posición vertical según sea necesario */
    left: 5%; /* Ajustar la posición horizontal según sea necesario */
    background-color: white; /* Fondo semitransparente */
    padding: 20px;
    max-width: 400px;  
    max-height: 350px;
    width: 50%;  
    text-align: center;
}

.cta h2 {
    font-size:1.5rem;
    margin-bottom: 10px;
}

.cta p {
    font-size: 1.2rem;  
    margin-bottom: 10px;
}

.cta a {
    display: block; /* Hacer que el enlace ocupe todo el ancho de la caja */
    margin-top: 10px;
    text-align: center;
    background-color: #df6a68;  
    color: #fff;  
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2)
}

.cta a:hover {
    background-color: #a02c32; /* Color de fondo del botón al pasar el ratón */
     box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.company-advertisements {
    display: flex; /* Utilizamos flexbox para alinear los spotlights en una fila */
    justify-content: space-between; /* Distribuimos el espacio entre los spotlights */
    align-items: center;   
    margin-top: 15px;   
    overflow-x: auto;
}

 
.advertisement {
    background-color: #e39695;   
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    flex-grow: 1; /* Hace que los spotlights ocupen el espacio disponible */
    margin-right: 15px; /* Margen derecho de 15px para crear espacio entre los spotlights */
    min-width: 0; /* Permite que los spotlights se reduzcan si el contenido es más estrecho */
}



footer {
    background-color: #a02c32;  
    color: #fff;  
    text-align: center;
    padding: 10px 0;
}
@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column; /* Cambiar a dirección de columna */
    }

    .menu li {
        margin-right: 0; /* Eliminar margen derecho */
        margin-bottom: 10px; /* Agregar espacio vertical entre elementos */
    }
}