body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}
#high-temp-message {
    width: 100%;
    height: 25px;
    background-color:gold;  
    text-align: center;
    line-height: 15px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;  
    color:#050505;
    font-size:14px;
}

#high-temp-message button {
    background-color: transparent;
    border: none;
    color:black;
    cursor: pointer;
    margin-left: 10px;
}
#high-temp-message button {
    font-size: 20px; 
}
 
header {
    
    background-image:url("https://sergiofdeveloper.github.io/wdd230/rental/images/background.webp");
    background-size: cover;  
    background-position: center;    
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;  
}

.logo img {
    max-height: 100%;
}

.menu {
    display: flex;
    align-items: center;
}
.menu-btn {
    display: none;  
    cursor: pointer;
    font-size: 24px;
    color: white;
    align-self: center;
    
}

.menu-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-links li {
    margin-right: 40px;
}

.menu-links a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: color 0.3s, text-shadow 0.3s;
}

.menu-links a:hover {
    color: yellow;
    text-shadow: 0 0 10px yellow;  
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

/*********************** HOME STYLES*****************************/

main {
    width: 100%;
    overflow: hidden; /* Hide horizontal scroll for the hero image */
}
.hero-container {
    position: relative;
    width: 100%;
}
.hero-container picture {
    width: 100%;
}

.hero-container img {
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    max-height: 350px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);  
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);  
    border-radius: 10px; 
}

.overlay img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
     
}

.overlay button {
    background-color: gold;  
    color: #040404;  
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);  
}

.overlay button:hover {
    background-color: #cc7700;  
}

.overlay button:hover a {
    color: #fff;  
}
.content a{
    color: rgb(6, 6, 6);
    text-decoration: none;
    font-size: 20px
}
#info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.info {
    width: calc(33.33% - 10px);  
    margin-bottom: 20px;  
    box-sizing: border-box;
    text-align: justify;
    padding: 20px;
}

.info:not(:last-child) {
    border-right: 1px solid #ccc;  
}

.info h1{
    font-size: 50px;
    color: #333638;
}

#info-cozumel {
    display: flex;
    justify-content: space-between;
}

.places {
    width: 66.666%;  
    display: flex;
    flex-wrap: wrap;
}
.visit-cozumel {
    width: 48%;  
    margin: 1%;
    box-sizing: border-box;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
    transition: transform 0.3s ease-in-out; 
    padding: 5px;
}
.visit-cozumel:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el ratón por encima */
}

.places h1 {
    text-align: center; 
    background-color: gold;  
    padding: 10px;  
    margin: 0;  
    width: 100%;
    box-sizing: border-box; 
    margin-right: 10px; 
}

#weather-info {
    width: 33.333%;  
}
#weather-info h1{
    text-align: center;
    background-color: rgb(0, 187, 255);  
    padding: 10px;  
    margin: 0;  
    width: 100%;
    box-sizing: border-box; 
    margin-right: 10px; 
}


.weather, .forecast {
    width: 100%; /* Ocupa el 100% del contenedor de weather-info */
    box-sizing: border-box;
    margin-top: 20px;
}
.weather h1, .forecast h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}
.weather-card, .forecast.card {
    width: 100%; /* Full width within the weather and forecast containers */
    box-sizing: border-box;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.weather-card img, .forecast-card img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}


.visit-cozumel img {
    width: 100%;
    height: auto; /* Asegurándose de que las imágenes se ajusten al contenedor */
}

footer{
    position: relative;
    background-image: url("https://sergiofdeveloper.github.io/wdd230/rental/images/background.webp");  
    background-size: cover;  
    background-position: center;  
    color: white;
    padding: 20px;  
    text-align: center;
}
.footer-content {
    position: relative;
}
.logo-footer{
    margin-top: 20px;
}

.centered-content {
    display: inline-block;  
}

.footer-menu {
    position: absolute;
    top: 0; /* Ajusta la posición vertical según sea necesario */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta la posición horizontal para centrar */
     ;
}

.footer-menu nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-menu nav li {
    font-size: 20px;  
    margin-right: 15px;    
}

.footer-menu nav a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding-right: 10px;
}
.footer-menu nav a:hover {
    color: yellow;
    text-shadow: 0 0 10px yellow;  
}
.project-info a {
    color: white;
    text-decoration: none;
}

hr {
    border: 0; /* Elimina el borde */
    height: 1px; /* Ajusta la altura de la línea */
    background-color: white;
    margin: 20px 0;  
}
.project-info {
    margin-top: 20px;   
}

/*-------------------STYLES CONTACT PAGE --------------------------*/
#logo-contactus{
    background: linear-gradient(#272c30, #272c30 80%, #f5f6f6 70%);
    height: 250px;
    position: relative;
    margin-bottom: 50px;
} 
#logo-contactus h1{
    color:#e0e0e0;
    font-size:100px
}
#contact-image {
    position: absolute;
    bottom: 0;  
    right: 0;  
}

.contact-main {
    display: flex;
    justify-content: space-between;  
    align-items: flex-start; 
   
}

.background-form {
    max-width: 66.66%;
    width: 100%;
    padding: 20px;  
    box-sizing: border-box;
   
}
.background-form p {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.contact-main h1 {
    font-size: 1.3rem;  
    text-align: center;  
    margin-bottom: 20px;  
}

form {
    width: 50%;
    max-width: 400px;  
    margin: 2rem auto; 
    background-color: white;
}

form fieldset{
    margin:rem 0;
    border: 2px solid  gold;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

form legend{
    color: #080808;
    margin: 0 1rem;
    padding: 0 0.5rem;
    font-weight: bold;
    font-size: 20px;
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: #050505;
    font-size: 1rem;
}

form label.top input, 
form label.top select{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 70%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}
form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 0.75rem;
    color: #555;
    width: 80%;
    max-width: 20rem;  
    height: 100px;  
    max-height: 300px;  
    background-color: rgba(0, 0, 0, 0.1);
     
}

form input.submitBtn {
    border: none;
    background-color: gold;
    color: rgb(6, 6, 6);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 auto 2rem auto; /* Centering the button horizontally and adding margin at the top and bottom */
    width: 50%;
    max-width: 20rem;
    margin-bottom: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

form input.submitBtn:hover {
    background-color: #eac44b;  
}
/* esto es para ayudar con las casillas requeridas*/

form label.top input:required{
   border-left: gold solid 10px; 
}

form label.top input:required:valid{
    border-left: green solid 10px; 
 }

.addresses h1{
    font-size: 40px;
}

 .addresses {
    width: 33.33%;  
    box-sizing: border-box;
}

.addresses .address1,
.addresses .address2 {
    border: 1px solid #ddd;      
    border-radius: 8px;         
                   
    background-color: #f7f7f7;
    margin-bottom: 10px;  
    margin-top: 40px;
    text-align: center;
}
.address1 img,
.address2 img {
    float: left;      
    margin: 0 auto 10px; 
}



/******************** RENTALS PAGE STYLES ***********************/
#logo-prices{
    background: linear-gradient(#272c30, #272c30 80%, #f5f6f6 70%);
    height: 300px;
    position: relative;
    margin-bottom: 50px;
} 
#logo-prices h1{
    color:#e0e0e0;
    font-size:70px
}
#rental-image {
    position: absolute;
    bottom: 0; /* Adjust the top value as needed */
    right: 0; /* Adjust the right value as needed */
}
#rentalsTableContainer {
    max-width: 75%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }


table {
    width: 100%;
    border-collapse: collapse;
    ;
}
  
table, th, td {
    border: 3px solid #ddd;
    
}
  
th, td {
    text-align: center;
    padding: 10px;
}
  
th {
    background-color: goldenrod; 
}

table td:first-child {
    width: 40%;  
}
  
table td:nth-child(2){
    width: 10%;  
}

#logo-fleet{
    background: linear-gradient(#272c30, #272c30 80%, #f5f6f6 70%);
    height: 300px;
    position: relative;
    margin-bottom: 50px;
}
#logo-fleet h1{
    color:#e0e0e0;
    font-size:100px
} 
#pricing{
    text-align: center;

}
#fleet-image {
    position: absolute;
    bottom: 0; /* Adjust the top value as needed */
    right: 0; /* Adjust the right value as needed */
}

#fleet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  
  .fleet-item {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    text-align: center;
    margin: 10px;
    height: 500px;
    padding-top: 30px;
    margin-bottom: 50px;
    width: 30%; /* Ajusta el ancho según sea necesario */
    border: 2px solid gold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .fleet-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Cambiar la sombra según tus preferencias */
    transform: translateY(-5px); /* Efecto de elevación */
}
.fleet-item:hover::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;  
    z-index: -1;
}
  .fleet-item > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product-name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .fleet-item img {
    height: auto;
    margin-bottom: 8px;    
  }  

  .additional-info {
    font-size: 16px;
    margin-top: 5px;
     
    
  }
/********************RESERVATION PAGE STYLES ***********************/
#logo-reservation{
    background: linear-gradient(#272c30, #272c30 80%, #f5f6f6 70%);
    height: 300px;
    position: relative;
    
}
#logo-reservation h1{
    color:#e0e0e0;
    font-size:100px
}
#reservation-image {
    position: absolute;
    bottom: 0; /* Adjust the top value as needed */
    right: 0; /* Adjust the right value as needed */
}

#reservations {
    display: flex;
    justify-content: space-between;
}

#form-request {
    margin-top: 20px;
    width: 55%;
}

#form-request h1{
text-align: center;
font-size: 40px;
}

#form-request form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid  gold;
}

#form-request label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

#form-request input,
#form-request select,
#form-request textarea {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#form-request .number-input {
    display: flex;
    align-items: center;
}

#form-request .number-input button {
    background-color: #e0e0e0;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#form-request .number-input input {
    width: 50px;
    text-align: center;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#form-request button {
    background-color: gold;
    color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold; 
}


#form-request button:hover {
    background-color: rgb(219, 187, 6)
    ;
}

#rental-information {
    display: inline;
    box-sizing: border-box;
    padding: 20px;

   
}
#rental-information h1 {
    font-size: 40px;
    
}

#rental-information section {
    background-color: rgba(255, 255, 255, 0.8);  
    max-width: 350px;  
    margin-bottom: 20px;  
    padding: 20px;  
    border: 2px solid gold;
    border-radius: 10px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    transition: box-shadow 0.3s;  /
}
#rental-information section:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
#rental-information section img {
    display: block;
    margin: 0 auto;  
    max-width: 100%;  
    height: auto;  
}
/* Establece el margen derecho solo en las secciones, excepto en la última */
#rental-information section:not(:last-child) {
    margin-right: 20px;
}

/********************THANKS  / RESERVED PAGE STYLES ***********************/
#funstuff {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;  
}

.fun-item {
    text-align: center;
}

.fun-item img {
    width: 100%;
    max-width: 250px;
    height: auto;
}





/* For screens up to 768px width (typical mobile devices) */
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden; /* Evita el scroll horizontal en la versión móvil */
        width: 100%;
    }
    header {
        height: 150px;  
        padding: 0 10px;  
    }

    .logo img {
        max-height: 100px;  
    }

    .menu-links {
        display: none;  
        flex-direction: column;
        align-items: center;
        position: absolute;
        top:20px;  
        left: 0;
        color: transparent;
        width: 100%;
        z-index: 1; /* Añade z-index para que el menú aparezca sobre el contenido */
    }
    .menu-links.show-menu {
        display: flex;
    }

    .menu-links ul {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        
       
    }
    .menu-links li {
        margin-right: 0;
        margin-bottom: 10px;  
        font-size: 6px;
        padding-right: 10px;
        
    }

    .menu-links a {
        font-size: 20px;  
        color: white; 
    }

    .menu-btn {
        display: block;
        font-size: 24px;
        color: white;
        cursor: pointer;
        align-self: flex-end; /* Alinea el botón al final del contenedor (esquina superior derecha) */
        position: absolute; 
        top: 10px;  
        right: 25px; 
        z-index: 2; /* Asegura que el botón esté por encima del contenido del menú */
    }

    .social-media {
        margin-top: 10px; 
        text-align: center;
        padding-right: 10px;
    }

    .social-media a {
        display: inline-block;   
        margin: 0 5px;  
    }
    .social-media a svg {
        width: 20px;  
        height: 20px; 
        fill: gold;  
    }

    .menu-links li.active a {
        
        color: gold; 
        font-weight: bold;
    }
    .overlay {
        display:none
    }
    .info {
        width: 100%; /* Ocupa el ancho completo en pantallas más pequeñas */
        margin-bottom: 20px;
        border-right: none; /* Elimina el borde derecho en pantallas más pequeñas */
    }

    .info h1 {
        font-size: 36px; /* Reduzco el tamaño de la fuente para pantallas más pequeñas */
    }
    
    #info-cozumel {
        flex-direction: column; /* Cambia a disposición de columna en pantallas más pequeñas */
    }

    .places {
        width: 100%; /* Ocupa el ancho completo en pantallas más pequeñas */
        margin-right: 0; /* Elimina el margen derecho */
    }

    .visit-cozumel {
        width: 100%; /* Ocupa el ancho completo en pantallas más pequeñas */
        margin: 10px 0; /* Ajusta el margen para dar más espacio entre elementos */
    }

    .places h1, #weather-info h1 {
        margin-right: 0; /* Elimina el margen derecho en h1 */
    }

    #weather-info {
        width: 100%; /* Ocupa el ancho completo en pantallas más pequeñas */
        margin-top: 20px; /* Ajusta el margen superior */
    }

    .weather h1, .forecast h1 {
        margin: 0; /* Elimina el margen en h1 */
    }

    .weather-card, .forecast-card {
        margin: 10px 0; /* Ajusta el margen superior e inferior */
    }
    
    .weather-card img, .forecast-card img {
        max-width: 80px; /* Reduzco el tamaño máximo de la imagen */
    }

    .visit-cozumel img {
        margin-bottom: 10px; /* Ajusta el espacio inferior de las imágenes */
    }

    .footer-menu nav a {
        color: white;
        text-decoration: none;
        font-size: 12px;
        padding-right: 5px;
    }

    .footer-proyect-info {
        font-size: 12px;
        text-decoration: none;
        color: white;
    }
    .project-info a {
        color: white;
        text-decoration: none;
    }
    /*-------------------CONTACT PAGE STYLES MEDIA VERSION-----------*/
    .contact-main {
        flex-direction: column; 
        align-items: center;
    }

    #contact-image {
        max-width: 40%;  
        height: auto;
    }
    #logo-contactus h1 {
        font-size: 50px;  
    }
    #logo-contactus{
        height: 100px;
    }

    form {
        width: 100%;  
    }
    .background-form,
    .addresses {
        width: 90%;  
        max-width: 100%;  
        margin-right: 0; /* Elimina el margen derecho en la versión móvil */
        float: none; /* Reinicia la propiedad float */
    }
    .addresses .address1,
    .addresses .address2 {
        margin-bottom: 20px;
    }

      /*-------------------RESERVATION PAGE STYLES MEDIA VERSION-----------*/

    #reservations {
        flex-direction: column; 
    }

    #form-request {
        width: 80%;  
        margin-right: 0; 
        margin-left: 20px;
    }

    #rental-information {
        width:100%;  
        margin-right: 0; 
        margin-top: 20px; 

    }

    #rental-information section {
        max-width: 100%;
        margin-right: 0;
    }

    #logo-reservation{
        height: 100px;
    }
    #reservation-image {
        max-width: 30%;  
        height: auto;  
    
    }
    #logo-reservation h1 {
    font-size: 50px;  
    }


 /*-------------------RENTALS PAGE STYLES MEDIA VERSION-----------*/
 #rentalsTableContainer {
    padding: 5px;  
    max-width: 100%;
}

table, th, td {
    font-size: 8px;  
    padding: 4px;
}
table td:first-child {
    width: 30%;  

}
table td:nth-child(2){
    width: 10%;  

}
table td:nth-child(3){
    width: 30%;  

}
#pricing{
    font-size: 16px;
}

.fleet-item {
    width: 70%;  
}
#logo-fleet{
    height: 100px;
}
#logo-prices{
    height: 100px;
}
#logo-fleet h1 {
    font-size: 35px;  
    
}
#logo-prices h1 {
    font-size: 35px;  
     
}
#fleet-image {
    max-width: 50%;  
    height: auto;
}
#rental-image {
    max-width: 30%;  
    height: auto;
}

}