body, html {
    margin: 0;
    padding: 0;
}

header {
    height: 200px;
    background-color: #333; /* Change the background color as needed */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Add padding to the header content */
}

.logo img {
    max-height: 100%;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-links li {
    margin-right: 40px;
}

.menu-links a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: color 0.3s, text-shadow 0.3s;
}

.menu-links a:hover {
    color: yellow;
    text-shadow: 0 0 10px yellow; /* Adjust the shadow as needed */
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

 
main {
    width: 100%;
    overflow: hidden; /* Hide horizontal scroll for the hero image */
}

.container picture {
    width: 100%;
}

.container img {
    width: 100%;
    height: auto;
}


 



/* For screens up to 768px width (typical mobile devices) */
@media screen and (max-width: 768px) {
    .menu-links ul {
        flex-direction: column;
        align-items: flex-end;
        display: none; /* Hide the menu items by default on small screens */
    }

    .menu-links a {
        font-size: 20px; /* Further reduce the font size for smaller screens */
    }

    .social-media a {
        margin-left: 5px; /* Further reduce the margin for smaller screens */
    }
    
    .logo img {
        max-height: 50px; /* Adjust the max height as needed */
    }

    .social-media a svg {
        width: 20px; /* Adjust the width as needed */
        height: 20px; /* Adjust the height as needed */
    }

}
