body, html {
    margin: 0;
    padding: 0;
}

header {
    height: 200px;
    background-color: #333; /* Change the background color as needed */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Add padding to the header content */
}

.logo img {
    max-height: 100%;
}

.menu {
    display: flex;
    align-items: center;
}
.menu-btn {
    display: none; /* Oculta el botón de menú en la versión normal */
    cursor: pointer;
    font-size: 24px;
    color: white;
    align-self: center;
    
}

.menu-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-links li {
    margin-right: 40px;
}

.menu-links a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: color 0.3s, text-shadow 0.3s;
}

.menu-links a:hover {
    color: yellow;
    text-shadow: 0 0 10px yellow; /* Adjust the shadow as needed */
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

 
main {
    width: 100%;
    overflow: hidden; /* Hide horizontal scroll for the hero image */
}

.container picture {
    width: 100%;
}

.container img {
    width: 100%;
    height: auto;
}


/* For screens up to 768px width (typical mobile devices) */
@media screen and (max-width: 768px) {
    header {
        height: 150px; /* Ajusta la altura según sea necesario */
        padding: 0 10px; /* Ajusta el relleno según sea necesario */
    }

    .logo img {
        max-height: 100px; /* Adjust the max height as needed */
    }

    .menu-links {
        display: none; /* Oculta los enlaces de menú por defecto en dispositivos móviles */
        flex-direction: column;
        align-items: center;
        position: absolute;
        top:20px; /* Ajusta la posición de los enlaces de menú según sea necesario */
        left: 0;
        color: transparent;
        width: 100%;
        z-index: 1; /* Añade z-index para que el menú aparezca sobre el contenido */
    }
    .menu-links.show-menu {
        display: flex;
    }

    .menu-links ul {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        
       
    }
    .menu-links li {
        margin-right: 0;
        margin-bottom: 10px; /* Espaciado entre enlaces de menú en dispositivos móviles */
        font-size: 6px;
        padding-right: 10px;
        
    }

    .menu-links a {
        font-size: 20px; /* Further reduce the font size for smaller screens */
        color: white; /* Añade color blanco al texto del enlace */
    }

    .menu-btn {
        display: block;
        font-size: 24px;
        color: white;
        cursor: pointer;
        align-self: flex-end; /* Alinea el botón al final del contenedor (esquina superior derecha) */
        position: absolute; /* Posición absoluta en relación con el contenedor padre */
        top: 10px; /* Distancia desde la parte superior */
        right: 25px; /* Distancia desde la derecha */
        z-index: 2; /* Asegura que el botón esté por encima del contenido del menú */
    }

    .social-media {
        margin-top: 10px; /* Ajusta el margen superior según sea necesario */
        text-align: center;
        padding-right: 10px;
    }

    .social-media a {
        display: inline-block; /* Muestra los iconos de redes sociales en línea */
        margin: 0 5px; /* Ajusta el margen entre los iconos según sea necesario */
    }
    .social-media a svg {
        width: 20px; /* Adjust the width as needed */
        height: 20px; /* Adjust the height as needed */
        fill: gold; /* Añade color dorado a los iconos de redes sociales */
    }
}