  body {
    font-family: "Arial", sans-serif; ;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  header {
    background-color: #1d4d72;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    height: 125px;
    display: flex;
    flex-direction: row;  
    align-items: center;
  }

  header h1{
    margin: 0;  
    line-height: 125px; 
    margin-left: 10px;

  }

  header img {
    float: left;  
    margin-right: 10px;
    padding-left: 100px;
  }

  nav a:hover {
    color: #1d4d72;
  }

  nav {
    background-color: black;
    color: white; 
    width: 600px;
    margin: 0 auto; 
  }
 
  nav ul {
    list-style: none;
    padding: 0;
  }

  nav li {
    font-size: 18px;  
    margin-bottom: 8px;
    
  }
  
  nav a {
    text-decoration: none;
    color: white; 
    padding: 10px 20px; 
    display: block;  
    text-align: center;
  }

  
  h1 {
    color: #fff;
    font-size: 1.7rem;
    margin-left: 1rem;
    font-weight: normal;
  }
  main {
    max-width: 580px;  
    margin: 0 auto;  
    padding: 20px;  
    display: grid;  
    gap: 20px; 
  }
  
    
  .card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0px;
  }
  
  
  .card h3 {
    font-size: 1.2em;
    background-color: #1d4d72;  
    border-radius: 10px;
    color: white;  
    width: 100%;  
    height: 50px;  
    text-align: center;  
    line-height: 30px;   
    margin: 0;  
    padding: 0;  
    display: flex; 
    align-items: center;  
    justify-content: center;  
  }
  
  
  .card ul {
    list-style-type: decimal;  
    padding-left: 40px;;
  }
  
  .card ul li {
    margin-bottom: 5px;
  }
  
  main h2 {
    width: 580px;  
    position: relative; 
    margin: 0 auto;  
   text-align: center;
  }
  
 
  main h2::after {
    content: "";   
    display: block;  
    width: 100%; 
    height: 1px;  
    background-color: #000;  
    position: absolute;  
    bottom: 0px; 
    left: 0;  
  }
  .information {
    width: 100%;  
    margin: 0 auto;  
    max-width: 580px;  
    text-align: center; 
  }
  .information p {
    text-align: center; 
    width: 100%;
  }

  footer {
    width: 600px; 
    background-color:#1d4d72;  
    padding: 10px 0;  
    text-align: center;
    color: #fff; 
   
  }
  footer p {
    margin: 0;  
    line-height: 1.8;  
  }

  footer p img {
    vertical-align: middle; 
    margin-left: 5px; 
    
  }

  #lastModified {
    color: #0a0a0a;   
  }

  @media screen and (max-width: 767px) {
   main {
    padding: 10px;
  }

  .card {
    padding: 10px;
  }
  }


 
  
 

